<nav>
        <div class="nav-container">
            <a href="/" class="logo">E-Commerce</a>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/cart" id="cart-link">Cart <span id="cart-count">(0)</span></a></li>
            </ul>
        </div>
    </nav>